# .NET Core build folders
bin/
obj/

# Visual Studio / Visual Studio Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# .NET specific files
*.dll
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.builds
*.pidb
ipch/

# NuGet packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Benchmark Results
BenchmarkDotNet.Artifacts/

# JetBrains Rider
.idea/
*.sln.iml

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Visual Studio for Mac
.vscode/
.idea/
.vs/
mono_crash.*

# User secrets
appsettings.Development.json
appsettings.*.json
!appsettings.json
*.Development.json